[submodule "DecayFitNet"]
	path = submodules/DecayFitNet
	url = https://github.com/georg-goetz/DecayFitNet
[submodule "submodule/DecayFitNet"]
	path = submodule/DecayFitNet
	url = https://github.com/georg-goetz/DecayFitNet.git
