resources/synthetic_dataset/single_room/bb_wgn_0000.pkl filter=lfs diff=lfs merge=lfs -text
resources/synthetic_dataset/single_room_freq_dep/bb_wgn_0000.pkl filter=lfs diff=lfs merge=lfs -text
resources/synthetic_dataset/two_coupled_rooms/bb_wgn_0000.pkl filter=lfs diff=lfs merge=lfs -text
resources/synthetic_dataset/two_coupled_rooms_freq_dep/bb_wgn_0000.pkl filter=lfs diff=lfs merge=lfs -text
